*{
    margin: 0;
}
main, footer{
    width: 80%;
    margin: auto;
}
/* Intestazione Pagina */
header{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}
.logo {
    width: 15vw;
    margin: 5vh 0 2vh 10vw;
}
/* Inizio corpo pagina */
section {
    margin-bottom: 25px;
    margin-top: 20px;
}
.titolo h1{
    font-size: 40px;
    margin-top: 15px;
}
#tbooleaner{
    color: #4EA0FF;
}
#date,.imgfooter{
    font-size: 12px;
}
.autore,h5{
   color:#8D8D8D;
   margin-bottom: 15px;
}
.titolo{
    margin: 5px;
}
/* Tabella */
table{
    text-align: left;
}
td{
    width:30%;
}
thead{
    background-color: #4EA0FF;
    color: #ffffff;
}
.col{
    background-color: #8ac0ff;
}
.highlight{
    background-color: #ffff00;
}
 /* FooterPagina */
.imgfoot{
    background-image: url(../img/monitor.jpg);
}
.t{
    background-image: url(../img/graph.jpg);
}
.imgfoot, .t{
    height: 150px;
    width: 250px;
    color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}
footer>h5{
    font-size: 16px;
    margin-bottom: 5px;
}